* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: #fff;
}

body {

    width: 100%;
    height: 100vh;

    background-image: linear-gradient(135deg, #525252, #2c2c2c, #000);
    
}

button {cursor: pointer;}